
body,html{
  height: 100%;
  margin: 0;
  background-color: white;
  font-family: "Tahoma","Arial","sans-serif"
}

header{
  /* text-align: center;
  background-color: red;
  color: black;
  line-height: 2; */
  position: relative;
 top: 18px;
 left: 10px;
 background-color: red

}
#feedback{

  float: center;
  display: block;
  max-width: 30%;
  height: auto;
  margin-left: 19em;
  margin-right: auto;
}
#logos{
  /* float: left;
  width:10%;
  display: block;
  margin-left: 19em;
  margin-right: auto; */
  float: left;
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}
#pict{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
#pic33{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;

}
#someText{
  text-align: center;
}
h4{
  display: inline-block;
  position: relative;
  border-width: 0;
  line-height: 2;
  margin-right: 0;
  margin-left: 0;
color: white;
box-sizing: inherit;
vertical-align: baseline;
text-align: center;
margin-left: 50%;
box-sizing: inherit;
background-color: black;
overflow:hidden;

}
/* body,html{
  margin: 0;
font-family: "Tahoma","Arial","sans-serif"
background-color:black;
}
header{
  text-align: center;
  font-size: 30px;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  }
  li{
    float: left;
  }
  li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

  }


/* #topnav{
  overflow: hidden;
  background-color: #333;
  display: block;
  box-sizing: border-box;
}
#topnav.a{
  float: left;;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
} */
/* #topnav a:hover{
  background-color: #ddd;
  color: black;

}
#topnav a.active{
  background-color: #4CAF50;
  color: white;
}
main{
  /* background-image: url(); */
  /* text-align: center; */
}
#navs{
  /* height:100%;
  width: 100%;
  padding: 20dp;
  background-image: url("winess.jpg");
  background-color: #cccccc
  background-size:100%auto;
    background-repeat: no-repeat; */
}
footer{
  padding: 20px;
  text-align: center;
  background: red;
}
